NEXT_PUBLIC_CHAIN_ID=5042002
NEXT_PUBLIC_CHAIN_NAME=Arc Testnet
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=USDC
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=USDC
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_EXPLORER_URL=https://testnet.arcscan.app
NEXT_PUBLIC_EXPLORER_NAME=ArcScan
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5b713DB5623d640a2E6c6eA0f002F229191E5DBB
NEXT_PUBLIC_AGENT_CONTRACT_ADDRESS=0x357096A24F914A178F04B7175837a2f969C42eCA
NEXT_PUBLIC_GROUP_CONTRACT_ADDRESS=0x7D002a28F7AA463DF79B84F6f05859967caf9c79
NEXT_PUBLIC_BULK_CONTRACT_ADDRESS=0xD1B9D190fC8F86c94E35B7a02Bf8E9d048832Cea

ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_CHAIN_ID=5042002
DEPLOYER_PRIVATE_KEY=
