NEXT_PUBLIC_CHAIN_ID=5042
NEXT_PUBLIC_CHAIN_NAME=Arc
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=USDC
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=USDC
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.arc.io
NEXT_PUBLIC_EXPLORER_URL=https://explorer.arc.io
NEXT_PUBLIC_EXPLORER_NAME=Arc Explorer
NEXT_PUBLIC_CONTRACT_ADDRESS=0xC0043A981650ed85ae89f1c2f60E826D39aC365e
NEXT_PUBLIC_AGENT_CONTRACT_ADDRESS=0x2AB26Cf3216852c89BcEea8AAd16e2b96E628108
NEXT_PUBLIC_GROUP_CONTRACT_ADDRESS=0x6bB716DB0bce5aFA206C93246d8764D17CE456aD
NEXT_PUBLIC_BULK_CONTRACT_ADDRESS=0xD0aFc0209547986D777CA345aE7ee5F8fcd741D7
NEXT_PUBLIC_GIG_BOARD_CONTRACT_ADDRESS=0xE238054755B41cA6bDe7C848F9b3e92BCEE22b4A
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=0xf9DD777185da559aDadbf298092DE7e6A050a93E

ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_CHAIN_ID=5042002
ARC_MAINNET_RPC_URL=https://rpc.mainnet.arc.io
ARC_MAINNET_CHAIN_ID=5042
DEPLOYER_PRIVATE_KEY=
