NEXT_PUBLIC_CHAIN_ID=5042002
NEXT_PUBLIC_CHAIN_NAME=Arc Testnet
NEXT_PUBLIC_NATIVE_CURRENCY_NAME=USDC
NEXT_PUBLIC_NATIVE_CURRENCY_SYMBOL=USDC
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_EXPLORER_URL=https://testnet.arcscan.app
NEXT_PUBLIC_EXPLORER_NAME=ArcScan
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_CHAIN_ID=5042002
DEPLOYER_PRIVATE_KEY=
